In [30]:
# Import for data manipulation
import pandas as pd
import numpy as np

# Import for data viz
import seaborn as sns
from matplotlib import pyplot as plt
from matplotlib.ticker import StrMethodFormatter
from sklearn.model_selection import train_test_split

# Import for Hypothesis Testing
import scipy.stats as stats

# Import for acquisition
import os

# Add for setting to see all rows and columns
pd.options.display.max_rows = None
pd.options.display.max_columns = None

# Import to ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [39]:
df1 = pd.read_csv('vgsales.csv')

In [40]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [46]:
#Which region is the most profitable? Form our original question, maybe i can try predict what features would help a player win
df1.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [44]:
df1.isna().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [18]:
df = pd.read_csv ('steam.csv')

In [36]:
df2 = pd.read_csv('all_games.csv')

In [43]:
df2.head()

,name,platform,release_date,summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,8.4
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9

In [45]:
df2.isna().sum()

name              0
platform          0
release_date      0
summary         114
meta_score        0
user_review       0
dtype: int64

In [38]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18800 entries, 0 to 18799
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          18800 non-null  object
 1   platform      18800 non-null  object
 2   release_date  18800 non-null  object
 3   summary       18686 non-null  object
 4   meta_score    18800 non-null  int64
 5   user_review   18800 non-null  object
dtypes: int64(1), object(5)
memory usage: 881.4+ KB

In [47]:
df3 = pd.read_csv('lol_ranked_games.csv')

In [48]:
df3.head()

,gameId,gameDuration,hasWon,frame,goldDiff,expDiff,champLevelDiff,isFirstTower,isFirstBlood,killedFireDrake,killedWaterDrake,killedAirDrake,killedEarthDrake,killedElderDrake,lostFireDrake,lostWaterDrake,lostAirDrake,lostEarthDrake,lostElderDrake,killedBaronNashor,lostBaronNashor,killedRiftHerald,lostRiftHerald,destroyedTopInhibitor,destroyedMidInhibitor,destroyedBotInhibitor,lostTopInhibitor,lostMidInhibitor,lostBotInhibitor,destroyedTopNexusTurret,destroyedMidNexusTurret,destroyedBotNexusTurret,lostTopNexusTurret,lostMidNexusTurret,lostBotNexusTurret,destroyedTopBaseTurret,destroyedMidBaseTurret,destroyedBotBaseTurret,lostTopBaseTurret,lostMidBaseTurret,lostBotBaseTurret,destroyedTopInnerTurret,destroyedMidInnerTurret,destroyedBotInnerTurret,lostTopInnerTurret,lostMidInnerTurret,lostBotInnerTurret,destroyedTopOuterTurret,destroyedMidOuterTurret,destroyedBotOuterTurret,lostTopOuterTurret,lostMidOuterTurret,lostBotOuterTurret,kills,deaths,assists,wardsPlaced,wardsDestroyed,wardsLost
0,4546233126,1443000,1,10,-448,-147,-0.2,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4,7,5,21,3,5
1,4546233126,1443000,1,12,-1306,-925,-0.6,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6,11,6,28,4,6
2,4546233126,1443000,1,14,2115,2578,0.4,1,1,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,10,11,12,35,4,6
3,4546233126,1443000,1,16,1195,2134,0.4,1,1,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,10,12,12,45,6,10
4,4546233126,1443000,1,18,2931,4382,0.6,1,1,1,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,13,13,16,49,7,12

In [52]:
#Cleanest dataset, even created dummy 
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242572 entries, 0 to 242571
Data columns (total 59 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   gameId                   242572 non-null  int64
 1   gameDuration             242572 non-null  int64
 2   hasWon                   242572 non-null  int64
 3   frame                    242572 non-null  int64
 4   goldDiff                 242572 non-null  int64
 5   expDiff                  242572 non-null  int64
 6   champLevelDiff           242572 non-null  float64
 7   isFirstTower             242572 non-null  int64
 8   isFirstBlood             242572 non-null  int64
 9   killedFireDrake          242572 non-null  int64
 10  killedWaterDrake         242572 non-null  int64
 11  killedAirDrake           242572 non-null  int64
 12  killedEarthDrake         242572 non-null  int64
 13  killedElderDrake         242572 non-null  int64
 14  lostFireDrake            242572 non-null  int64
 15  lostWaterDrake           242572 non-null  int64
 16  lostAirDrake             242572 non-null  int64
 17  lostEarthDrake           242572 non-null  int64
 18  lostElderDrake           242572 non-null  int64
 19  killedBaronNashor        242572 non-null  int64
 20  lostBaronNashor          242572 non-null  int64
 21  killedRiftHerald         242572 non-null  int64
 22  lostRiftHerald           242572 non-null  int64
 23  destroyedTopInhibitor    242572 non-null  int64
 24  destroyedMidInhibitor    242572 non-null  int64
 25  destroyedBotInhibitor    242572 non-null  int64
 26  lostTopInhibitor         242572 non-null  int64
 27  lostMidInhibitor         242572 non-null  int64
 28  lostBotInhibitor         242572 non-null  int64
 29  destroyedTopNexusTurret  242572 non-null  int64
 30  destroyedMidNexusTurret  242572 non-null  int64
 31  destroyedBotNexusTurret  242572 non-null  int64
 32  lostTopNexusTurret       242572 non-null  int64
 33  lostMidNexusTurret       242572 non-null  int64
 34  lostBotNexusTurret       242572 non-null  int64
 35  destroyedTopBaseTurret   242572 non-null  int64
 36  destroyedMidBaseTurret   242572 non-null  int64
 37  destroyedBotBaseTurret   242572 non-null  int64
 38  lostTopBaseTurret        242572 non-null  int64
 39  lostMidBaseTurret        242572 non-null  int64
 40  lostBotBaseTurret        242572 non-null  int64
 41  destroyedTopInnerTurret  242572 non-null  int64
 42  destroyedMidInnerTurret  242572 non-null  int64
 43  destroyedBotInnerTurret  242572 non-null  int64
 44  lostTopInnerTurret       242572 non-null  int64
 45  lostMidInnerTurret       242572 non-null  int64
 46  lostBotInnerTurret       242572 non-null  int64
 47  destroyedTopOuterTurret  242572 non-null  int64
 48  destroyedMidOuterTurret  242572 non-null  int64
 49  destroyedBotOuterTurret  242572 non-null  int64
 50  lostTopOuterTurret       242572 non-null  int64
 51  lostMidOuterTurret       242572 non-null  int64
 52  lostBotOuterTurret       242572 non-null  int64
 53  kills                    242572 non-null  int64
 54  deaths                   242572 non-null  int64
 55  assists                  242572 non-null  int64
 56  wardsPlaced              242572 non-null  int64
 57  wardsDestroyed           242572 non-null  int64
 58  wardsLost                242572 non-null  int64
dtypes: float64(1), int64(58)
memory usage: 109.2 MB

In [50]:
df3.isna().sum()

gameId                     0
gameDuration               0
hasWon                     0
frame                      0
goldDiff                   0
expDiff                    0
champLevelDiff             0
isFirstTower               0
isFirstBlood               0
killedFireDrake            0
killedWaterDrake           0
killedAirDrake             0
killedEarthDrake           0
killedElderDrake           0
lostFireDrake              0
lostWaterDrake             0
lostAirDrake               0
lostEarthDrake             0
lostElderDrake             0
killedBaronNashor          0
lostBaronNashor            0
killedRiftHerald           0
lostRiftHerald             0
destroyedTopInhibitor      0
destroyedMidInhibitor      0
destroyedBotInhibitor      0
lostTopInhibitor           0
lostMidInhibitor           0
lostBotInhibitor           0
destroyedTopNexusTurret    0
destroyedMidNexusTurret    0
destroyedBotNexusTurret    0
lostTopNexusTurret         0
lostMidNexusTurret         0
lostBotNexusTurret         0
destroyedTopBaseTurret     0
destroyedMidBaseTurret     0
destroyedBotBaseTurret     0
lostTopBaseTurret          0
lostMidBaseTurret          0
lostBotBaseTurret          0
destroyedTopInnerTurret    0
destroyedMidInnerTurret    0
destroyedBotInnerTurret    0
lostTopInnerTurret         0
lostMidInnerTurret         0
lostBotInnerTurret         0
destroyedTopOuterTurret    0
destroyedMidOuterTurret    0
destroyedBotOuterTurret    0
lostTopOuterTurret         0
lostMidOuterTurret         0
lostBotOuterTurret         0
kills                      0
deaths                     0
assists                    0
wardsPlaced                0
wardsDestroyed             0
wardsLost                  0
dtype: int64

In [19]:
df.describe()

,appid,english,required_age,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,price
count,2.707500e+04,27075.000000,27075.000000,27075.000000,2.707500e+04,27075.000000,27075.000000,27075.00000,27075.000000
mean,5.962035e+05,0.981127,0.354903,45.248864,1.000559e+03,211.027147,149.804949,146.05603,6.078193
std,2.508942e+05,0.136081,2.406044,352.670281,1.898872e+04,4284.938531,1827.038141,2353.88008,7.874922
min,1.000000e+01,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.00000,0.000000
25%,4.012300e+05,1.000000,0.000000,0.000000,6.000000e+00,2.000000,0.000000,0.00000,1.690000
50%,5.990700e+05,1.000000,0.000000,7.000000,2.400000e+01,9.000000,0.000000,0.00000,3.990000
75%,7.987600e+05,1.000000,0.000000,23.000000,1.260000e+02,42.000000,0.000000,0.00000,7.190000
max,1.069460e+06,1.000000,18.000000,9821.000000,2.644404e+06,487076.000000,190625.000000,190625.00000,421.990000

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27075 entries, 0 to 27074
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   appid             27075 non-null  int64
 1   name              27075 non-null  object
 2   release_date      27075 non-null  object
 3   english           27075 non-null  int64
 4   developer         27075 non-null  object
 5   publisher         27075 non-null  object
 6   platforms         27075 non-null  object
 7   required_age      27075 non-null  int64
 8   categories        27075 non-null  object
 9   genres            27075 non-null  object
 10  steamspy_tags     27075 non-null  object
 11  achievements      27075 non-null  int64
 12  positive_ratings  27075 non-null  int64
 13  negative_ratings  27075 non-null  int64
 14  average_playtime  27075 non-null  int64
 15  median_playtime   27075 non-null  int64
 16  owners            27075 non-null  object
 17  price             27075 non-null  float64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.7+ MB

In [21]:
df.head()

,appid,name,release_date,english,developer,publisher,platforms,required_age,categories,genres,steamspy_tags,achievements,positive_ratings,negative_ratings,average_playtime,median_playtime,owners,price
0,10,Counter-Strike,2000-11-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,124534,3339,17612,317,10000000-20000000,7.19
1,20,Team Fortress Classic,1999-04-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,3318,633,277,62,5000000-10000000,3.99
2,30,Day of Defeat,2003-05-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Valve Anti-Cheat enabled,Action,FPS;World War II;Multiplayer,0,3416,398,187,34,5000000-10000000,3.99
3,40,Deathmatch Classic,2001-06-01,1,Valve,Valve,windows;mac;linux,0,Multi-player;Online Multi-Player;Local Multi-P...,Action,Action;FPS;Multiplayer,0,1273,267,258,184,5000000-10000000,3.99
4,50,Half-Life: Opposing Force,1999-11-01,1,Gearbox Software,Valve,windows;mac;linux,0,Single-player;Multi-player;Valve Anti-Cheat en...,Action,FPS;Action;Sci-fi,0,5250,288,624,415,5000000-10000000,3.99

In [22]:
df.isnull().sum()

appid               0
name                0
release_date        0
english             0
developer           0
publisher           0
platforms           0
required_age        0
categories          0
genres              0
steamspy_tags       0
achievements        0
positive_ratings    0
negative_ratings    0
average_playtime    0
median_playtime     0
owners              0
price               0
dtype: int64

In [25]:
df.name.unique()

array(['Counter-Strike', 'Team Fortress Classic', 'Day of Defeat', ...,
       'Super Star Blast', 'New Yankee 7: Deer Hunters', 'Rune Lord'],
      dtype=object)

In [ ]:
#From classification
def clean_data(df):
    '''
    This function will drop uneccessary columns or duplicates that is not useful for analysis.  
    change total_charges from object type to a float type. 
    create dummy variables for telco data that have the object type columns and then join with it original telco dataframe. 
    after joining, drop the columns that used to create dummy dataframe.
    and then return original telco dataframe.
    '''

    #Clean data

    #Drop duplicate rows, if present
    df = df.drop_duplicates()
    
    #Conver total_charges to float
    df['total_charges'] = df.total_charges.replace(' ', '0').astype(float)
    #total_charges had 11 null values and filled nulls with the mean of all total charges.
    df.total_charges = df.total_charges.fillna(value=df.total_charges.mean()).astype(float)
    
    #Convert yes and no to 1 and 0 respectively 
    #Changing the type of some columns that are object to int but not all
    #Do the same for other columns except contract type, payment type and internet service
    #These columns has 3 values in them. 
    #For example, it harder to understand one year = 0 and two year = 0, they are the same as month to month 
    df["is_male"] = df.gender == "Male"
    df['is_male'] = df['is_male'].astype(int)

    df["partner"] = df.partner == "Yes"
    df['partner'] = (df['partner']).astype(int)

    df["dependents"] = df.dependents == "Yes"
    df['dependents'] = (df['dependents']).astype(int)

    df["phone_service"] = df.phone_service == "Yes"
    df['phone_service'] = (df['phone_service']).astype(int)

    df["streaming_tv"] = df.streaming_tv == "Yes"
    df['streaming_tv'] = (df['streaming_tv']).astype(int)

    df["streaming_movies"] = df.streaming_movies == "Yes"
    df['streaming_movies'] = (df['streaming_movies']).astype(int)

    df["paperless_billing"] = df.paperless_billing == "Yes"
    df['paperless_billing'] = (df['paperless_billing']).astype(int)

    df["multiple_lines"] = df.multiple_lines == "Yes"
    df['multiple_lines'] = (df['multiple_lines']).astype(int)

    df["online_security"] = df.online_security == "Yes"
    df['online_security'] = (df['online_security']).astype(int)

    df["online_backup"] = df.online_backup == "Yes"
    df['online_backup'] = (df['online_backup']).astype(int)

    df["device_protection"] = df.device_protection == "Yes"
    df['device_protection'] = (df['device_protection']).astype(int)

    df["tech_support"] = df.tech_support == "Yes"
    df['tech_support'] = (df['tech_support']).astype(int)

    #Drop most of id columns since it is not useful in analysis
    #Keep the customer id column because need it to make prediction.csv 
    df = df.drop(columns = ['gender','internet_service_type_id','payment_type_id','contract_type_id',
                            'internet_service_type_id.1','payment_type_id.1','contract_type_id.1'])

    #Select every columns that is object type except the customer_id 
    col_list = list(df.select_dtypes('object').columns)[1:]

    #Create a dummy df and then 
    #create a loop to make it look through the list above
    #then drop some drops that is repeatedly
    dummy_df = pd.get_dummies(df[col_list],dummy_na=False, drop_first=False)
    dummy_df = dummy_df.drop(columns = ['churn_No'])
        
    #Concatenate the dummy_df dataframe above with the original df
    df = pd.concat([df, dummy_df], axis=1)
    
    #Drop the columns that we already use to create dummy_df
    df.drop(columns=col_list, inplace=True)
    
    #Rename columns so more its meaningful 
    df = df.rename(columns={'contract_type_Month-to-month':'month_to_month',
                            'payment_type_Credit card (automatic)':'credit_card',
                            'payment_type_Bank transfer (automatic)':'bank_transfer',
                            'payment_type_Electronic check':'electronic_check',
                            'payment_type_Mailed check':'mailed_check',
                            'internet_service_type_DSL':'dsl',
                            'internet_service_type_Fiber optic':'fiber_optic',
                            'internet_service_type_None':'no_internet_service'})
    
    return df

In [35]:
def split_data(df):
    '''
    This function takes in a dataframe and split the data into 3: train, validate and test
    Establish train+validate set 80% of original data and then repeat the process 
    Split train+validate  into train, validate separately 
    '''
    train_validate, test = train_test_split(df, 
                                            test_size=.2, 
                                            random_state=123, 
                                            stratify=df.target)

    train, validate = train_test_split(train_validate, 
                                       test_size=.3, 
                                       random_state=123, 
                                       stratify=train_validate.target)
    return train, validate, test

In [28]:

def churn_bar(df):
    #This function create a bar plot for churn rate
    #Plot churn rate base on number of customers
    #Change the x tick labels so it more meanigful rather than just 0 and 1
    churn_rate = df['churn_Yes'].mean()
    df = df.churn_Yes.value_counts()
    plt.figure(figsize=(6,8))
    df= df.plot.bar(rot = 0)
    plt.title(f"Overall churn rate: {churn_rate:.2%}")
    plt.xlabel('Churn')
    plt.ylabel('Customers')
    df.set_xticklabels(['No Churn', 'Churned'])

    plt.show()

#Create a heatmap show to the positve and negative related to churn
def get_churn_heatmap(df):
    plt.figure(figsize=(8,12))
    churn_heatmap = sns.heatmap(df.corr()[['churn_Yes']].sort_values(by='churn_Yes', ascending=False), vmin=-.5, vmax=.5, annot=True)
    churn_heatmap.set_title('Feautures Correlating with Churn')
    
    return churn_heatmap

def plot_tenure (df, tenure):
    '''
    Take in a df and tenure and plot tenure and churn
    '''
    # Distribution of Tenure
    sns.displot(df, x=df.tenure,
             hue='churn_Yes',
             multiple='stack',
             legend=False
             )

    plt.title("Distribution of Tenure")
    plt.xlabel('Tenure (in months)')
    plt.legend(title = 'churn', loc='upper right',labels=[0,1])

def bar_plot (features, df):
    '''
    Take in a length of features to plot and churn_rate.
    '''
    churn_rate = df['churn_Yes'].mean()
    _, ax = plt.subplots(nrows=1, ncols=len(features), figsize=(16, 6), sharey=True)
    for i, feature in enumerate(features):
        sns.barplot(feature, 'churn_Yes', data=df, ax=ax[i], alpha=0.5, saturation=1)
        ax[i].set_xlabel('Churn')
        ax[i].set_ylabel(f'Churn Rate')
        ax[i].set_title(feature)
        ax[i].axhline(churn_rate, ls='--', color='black')


def report_tenure (train, tenure):
    '''
    This function create a report based on a specified tenure. Calculate total customers, churn customers, churn rate,
    % of fiber optic ,  % of type of contracts, and % electronic cheks and $ paperless billing for
    the first months of the specified tenure, 
    train: dataframe
    tenure : number of the first month of tenure.
    Example:
    report_tenure (df, tenure)
    
    '''
    #Set the specified tenure (tenure = 1)
    tenure = 2
    #cols has all the columns that I want to check
    cols = ['dsl','fiber_optic','multiple_lines','phone_service',
        'bank_transfer','paperless_billing','electronic_check','mailed_check','credit_card','no_internet_service',
        'month_to_month','contract_type_One year','contract_type_Two year',
        'tenure','churn_Yes','total_charges','monthly_charges']
    
    #create a df with the fist months of tenure specified in the function
    df_month1 = train[cols][train['tenure'] < tenure ]
    #total of customers that have the specified tenure
    total_customer = train.tenure[train['tenure'] < tenure].count()
    #total customer with specified tenure and churn = 1
    #create a df and churn = 1
    cust_churned = df_month1.churn_Yes[df_month1['churn_Yes']== 1].count()
    churned_df = df_month1[(df_month1['churn_Yes']==1)] 
    #create report of  churn = 1 and tenure < tenure
    cols_1v = ['monthly_charges','electronic_check','paperless_billing',
           'fiber_optic',
           'month_to_month','contract_type_One year','contract_type_Two year','churn_Yes']
    res_df= pd.DataFrame((churned_df[cols_1v].sum()),columns=['churn_counts'])
    # let's see the churn rate
    churn_rate = train['churn_Yes'].mean()
    #customers with electronic_check and have canceled
    ec=(res_df.loc['electronic_check'][0]).astype(int)
    #customers with paperless billing and have canceled
    ppl=(res_df.loc['paperless_billing'][0]).astype(int)
    #customers with fiber_optic and have canceled
    fo=(res_df.loc['fiber_optic'][0]).astype(int)

    #print statment to total number customer in the first month and customer that churned and churn rate
    #print statement to show % customers with paperless billing, fiber optic, electronic_check
    print("")
    print(f'** FIRST {tenure - 1} MONTHS OF TENURE AND CHURN** ')
    print("")
    print(f"Total customer in the first month: {total_customer}")
    print(f"Total customer cancellations in the first month: {cust_churned}")
    print("")
    print(f"Churn rate in the first month of Tenure: {(cust_churned/total_customer):.2%}")
    print(f"Paperless_billing:                       {(ppl/cust_churned):.2%}")
    print(f'Electronic_check payment type :          {(ec/cust_churned):.2%} ')
    print(f"Fiber_optic:                             {(fo/cust_churned):.2%}")
    print("")
    print(f'Overall Churn Rate: {churn_rate:.2%}')